* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background: gainsboro !important;
}

p, h1, h3, #submit_answers {
    margin: 1rem;
} 

#results-box {
    display: none;
}

.question,
.details_container {
    display: none;
}

.question.active, 
.details_container.active {
    display: block;
}

#submit_answers {
    display: none;
    width: 200px;
}

.controls {
    display: flex;
    justify-content: center;
}

.btn {
    width: 100px;
}
